/*
 * Fonts
 * Nanum Gothic, Open Sans, Thasadith:700, Barlow
 */
* {
  font-family: 'Nanum Gothic', sans-serif;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

body {
    background-color: black;
}
.jumbotron {
    background-color: black;
}
.ez_header {
    margin: 3rem 0 4rem 0;
    text-align: center;
}
.ezlogo {
    width: 60%;
}

.ez_footer {
    z-index: 20;
    margin-top: -19%; 
    
}
.ez-color {

background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(79,20,20,1) 60%, rgba(120,57,43,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(24%, rgba(0,0,0,1)), color-stop(60%, rgba(79,20,20,1)), color-stop(100%, rgba(120,57,43,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(79,20,20,1) 60%, rgba(120,57,43,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(79,20,20,1) 60%, rgba(120,57,43,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(79,20,20,1) 60%, rgba(120,57,43,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 24%, rgba(79,20,20,1) 60%, rgba(120,57,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#78392b', GradientType=0 );

}
.ez_credit {
    margin-top: -20px;
    color: #696969;
    font-size: 0.75em;
    border-color: black;
    border-style: solid;
    border-width: 20px 0px 0px 0px;
    text-align: center;
}
/*
.ez_flames (
    padding-bottom: 50px;
)
*/

/*--Estilos modificados de bootstrap--*/
.bg-dark {
    background: linear-gradient(#000000, #161616);
}
.navbar-dark .navbar-brand {
    color: #4a4848;
}
.card {
  border: 1px solid #3c434a;
}
.text-regular {
  color: #d8d8d8;
}
.text-muted {
  color: #3c434a;
}
.ez_back {
  color: #860700;
}
.ez_back:hover {
  color: #e9271b;
}
.red-section {
  color: #fff;
  background-color: #860700;
  padding: 2em 2em;
  font-size: 2em;
}

.text.featured {
  margin-top : 10px;
}
.text-bla {
  margin: 6rem 0 4rem 0;
}
section.info {
  padding: 1rem 2rem;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}
section.info img {
  border-radius: 50%;
}
section.info.me img {
  width: 92px;
}
section.info.featured img {
  width: 112px;
}
section.info p.text {
  color: #d8d8d8;
  font-size: 0.9rem;
}
section.info.me p.text {
  text-align: left;
}
section.info.featured p.text {
  text-align: right;
}
section.info.featured {
  margin-bottom: 2rem;
}
section.info.featured div.col-9 {
  padding-left: 2rem;
}
section.subscribe {
  color: #fff;
  background-color: #860300;
  padding: 4rem 7rem;
}
div.subscribe-form p.caption {
  font-size: 1.6rem;
  text-align: center;
}
div.subscribe-form p.promise {
  font-size: 0.8rem;
  text-align: center;
}
/*-------------------form---------------------------*/


form input[type="text"],
form input[type="email"],
form input[type="password"] {
  border: none;
  height: 100px;
  padding: 0 13.5px;
  min-width: 15em;
  outline: none;
  padding: .375rem .75rem;
}
form input[type="submit"] {
  background-color: transparent;
}
form input[type="email"] + input[type="submit"] {
  margin-left: 13.5px;
}

.subscribe-form {
  max-width: 750px;
}

.subscribe-input {
    padding: 1px 20px;
    border-style: none;
    border-radius: .25rem;
    height: 48px;
    width: 100%;
}
.subscribe-button{
  border: 1px solid #860700;
  display: inline-block;
  height: 54px;
  width: 100%;
  min-width: 10em;
  border-radius: .25rem;
  padding: .7em 1em;
  background-color: #380300;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}
.subscribe-button:hover {
  color: #fff;
  background-color: #ca3b33;
  text-decoration: none;
}
.subscribe-button:active {
  color: #380300;
  background-color: #ffa500;
  text-decoration: none;
}

/*
 * Extra small devices (portrait phones, less than 576px)
 * No media query for `xs` since this is the default in Bootstrap
 */

@media (max-width: 575.98px) {
  section.info.me p.text {
    margin-top: 1.3rem;
    text-align: center;
  }
  section.info.featured p.text {
    text-align: center;
  }
  section.subscribe {
    padding: 3rem 2rem;
  }
  .subscribe-button {
    margin-top: 15px;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  section.info {
    max-width: 570px;
  }
  section.info.me img {
    width: 96px;
  }
  section.info.featured img {
    width: 116px;
  }
  section.info p.text {
    font-size: 1rem;
  }
  section.subscribe {
    padding: 3rem 4rem;
  }
  .subscribe-button {
    margin-top: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section.info {
    max-width: 680px;
  }
  section.info.me img {
    width: 104px;
  }
  section.info.featured img {
    width: 124px;
  }
  section.info p.text {
    font-size: 1.05rem;
  }
  .subscribe-button {
    margin-top: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section.info {
    max-width: 830px;
  }
  section.info.me img {
    width: 112px;
  }
  section.info.featured img {
    width: 132px;
  }
  section.info p.text {
    font-size: 1.10rem;
  }
  .subscribe-button {
    margin-top: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section.info {
    max-width: 960px;
  }
  section.info.me img {
    width: 120px;
  }
  section.info.featured img {
    width: 140px;
  }
  section.info p.text {
    font-size: 1.15rem;
  }
  .subscribe-button {
    margin-top: 0;
  }
}
